/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h1 a {
  color: #eee;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  color: #2b3033;
  background-color: #eee;
  border-radius: 4px;
}
nav a:hover {
  color: #2b3033;
  background-color: #cfd8dc;
}
nav a.active {
  color: #2b3033;
}
.nav-item{
  padding:2px;
  margin-left: 7px;
}
.header {
  position:relative;
  background-color:#2b3033;
  height:68px;
  line-height:50px;
  overflow:hidden;
}
.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header-right {
  float: right;
} 