<div class="body">
  <div class="container header">
    <div class="logo">
      <h1><a href="/home">{{title}}</a></h1>
    </div>
    <div class="header-right">
      <nav>
        <a class="nav-item" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item" routerLink="/members">League Members</a>
        <a class="nav-item" routerLink="/history">History</a>
        <a class="nav-item" routerLink="/about">About Us</a>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
