<h2>Wall of Shame</h2>

<span class="summary">While this is typically where we commemorate the loser bowl, 
  sometimes exceptions are made for historically bad moments.
</span>

<section class="wall">
  <div class="triumph">
    <div class="triumph-header">
      Paul's Week 10 2020 under 80 point disaster.
    </div>
    <div class="triumph-body">
      Week 10 of 2020 Paul somehow managed one of the worst fantasy performances ever. In a full Point-per-reception, Double-Flex, 6 Point passing Touchdown league, Paul fielded a roster that put up an astounding 79.98 points. This is a new league record just because this is the first season of double flex players.
      Buc somehow almost out shit himself, but was able to come away with a Win, which is all that matters.
    </div>
  </div>
  <div class="triumph">
    <div class="triumph-header">
      Toilet Bowl 2019-Season
    </div>
    <div class="triumph-body">
      In a thrilling matchup between Buc and Cole, 
    </div>
  </div>
  <div class="triumph">
    <div class="triumph-header">
      
    </div>
    <div class="triumph-body">

    </div>
  </div>
</section>
