<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>Wall of Shame</a>
    <ng-template ngbNavContent>
      <div class="summary">
        While this is typically where we commemorate the loser bowl, 
        sometimes exceptions are made for historically bad moments.
      </div>

      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Paul's Week 10 2020 under 80 point disaster.</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Week 10 of 2020 Paul somehow managed one of the worst fantasy performances ever. In a full Point-per-reception, Double-Flex, 6 Point passing Touchdown league, Paul fielded a roster that put up an astounding 79.98 points. This is a new league record just because this is the first season of double flex players.
            Buc somehow almost out shit himself, but was able to come away with a Win, which is all that matters.
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2019-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            &#x1f4a9; Buc &#x1f4a9; vs Cole
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2018-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            &#128169;Buc&#128169; vs Stasch
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2017-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            &#128169;Paul&#128169; vs ???
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2016-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            ??? vs &#128169;Mawby&#128169;
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2015-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            &#128169;Buc&#128169; vs ???
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Toilet Bowl 2014-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Jake vs &#128169;Cliff&#128169;
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Hall of Fame</a>
    <ng-template ngbNavContent>
      <div class="summary">
        Here's all the lucky assholes who did something commendable.
      </div>

      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Notable example A</span>
          </ng-template>
          <ng-template ngbPanelContent>
            BLah BLah Blah
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2019-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Spitz
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2018-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Jake
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2017-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Spitz
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2016-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Spitz
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2015-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Mawby
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Super Bowl 2014-Season</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Spitz
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
