<h2>Active League Members</h2>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/spitz.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Spitz</h3>
      <p>Consistently dominant in the League. Owner of Four titles.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/cliff.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Cliff</h3>
      <p>Original poop bowl champion. Can always count on him shooting himself in the foot. Drowning in pussy.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/mawby.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Mawby</h3>
      <p>Only owner of both a championship and a shit crown. Lets his spouse run his team.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/breezy.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Brad</h3>
      <p>King of choking. The Buffalo Bills of Fantasy Football.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/buc.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Buc</h3>
      <p>Three time poop title winner. Panic jumps out of situations.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/cole.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Cole</h3>
      <p>Newer to the league. Once missed the draft because it overlapped with weekly BINGO.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/connor.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Connor</h3>
      <p>Will reliably beat you when it matters, but never anyone else.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/paul.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Paul</h3>
      <p>There's too much to put into a single tile. This dude is getting his own section.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/stasch.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Stasch</h3>
      <p>Terrifying when he pays attention to his roster. Will definitely out drink you.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/sved.png">
    </div>
    <div class="carousel-caption">
      <h3>Sved</h3>
      <p>The prodigal son realized why he originally left.</p>
    </div>
  </ng-template>
</ngb-carousel>


<br/>
<h2>Retired League Members</h2>

