/* LeagueMembersComponent's private CSS styles */

.picsum-img-wrapper {
  background-color: dimgray;
  
}

.picsum-img-wrapper > img {
  width: 270px;
  height: 400px;
  margin: auto;
  display: block;
}

