<!-- <h2>Active League Members</h2>
<ul class="members">
  <li *ngFor="let member of members">
    <a routerLink="/detail/{{member.id}}">
      <span class="badge">{{member.id}}</span> {{member.name}}
    </a>
    <button class="delete" title="delete member"
      (click)="delete(member)">x</button>
  </li>
</ul>

<div>
  <label>Member name:
    <input #memberName />
  </label>
  <button (click)="add(memberName.value); memberName.value=''">
    add
  </button>
</div> -->

<h2>Active League Members</h2>

<section class="tiles">
  <article class="">
    <span class="image">
      <img src="assets/images/spitz.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Spitz</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style2">
    <span class="image">
      <img src="assets/images/cliff.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Cliff</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style3">
    <span class="image">
      <img src="assets/images/mawby.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Mawby</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style4">
    <span class="image">
      <img src="assets/images/breezy.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Breezy</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style5">
    <span class="image">
      <img src="assets/images/buc.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Buc</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style6">
    <span class="image">
      <img src="assets/images/cole.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Cole</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style2">
    <span class="image">
      <img src="assets/images/connor.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Connor</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style3">
    <span class="image">
      <img src="assets/images/paul.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Paul</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style1">
    <span class="image">
      <img src="assets/images/stasch.jpg" alt="" />
    </span>
    <a href="generic.html">
      <h2>Stasch</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
  <article class="style5">
    <span class="image">
      <img src="assets/images/sved.png" alt="" />
    </span>
    <a href="generic.html">
      <h2>Sved</h2>
      <div class="content">
        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
      </div>
    </a>
  </article>
</section>
<br/>
<h2>Retired League Members</h2>

