<!-- <h3>Top Members</h3>
<div class="grid grid-pad">
  <a *ngFor="let member of members" class="col-1-4"
      routerLink="/detail/{{member.id}}">
    <div class="module member">
      <h4>{{member.name}}</h4>
    </div>
  </a>
</div> -->

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
    <div id="main">
      <div class="inner">
        <section class="tiles">
          <article class="">
            <span class="image">
              <img src="assets/images/spitz.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Spitzer</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style2">
            <span class="image">
              <img src="assets/images/cliff.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Cliff</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style3">
            <span class="image">
              <img src="assets/images/mawby.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Mawby</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style4">
            <span class="image">
              <img src="assets/images/breezy.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Brad</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style5">
            <span class="image">
              <img src="assets/images/buc.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Buc Jumped</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style6">
            <span class="image">
              <img src="assets/images/cole.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Cole</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style2">
            <span class="image">
              <img src="assets/images/connor.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Connor</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style3">
            <span class="image">
              <img src="assets/images/paul.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Paul</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style1">
            <span class="image">
              <img src="assets/images/stasch.jpg" alt="" />
            </span>
            <a href="generic.html">
              <h2>Stasch</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
          <article class="style5">
            <span class="image">
              <img src="assets/images/sved.png" alt="" />
            </span>
            <a href="generic.html">
              <h2>Sved</h2>
              <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
              </div>
            </a>
          </article>
        </section>
      </div>
    </div>
</div>

